{% extends "layout.html" %}
{% block content %}
<form action="/edit/{{osc.id}}" method="post">
    <div class="row">
        <div class="col">
            <label for="sIndex">Index</label>
            <input id="sIndex" type="text" class="form-control" placeholder="Index" name="sIndex" value="{{osc.sIndex}}">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="sYear">Year</label>
            <input id="sYear" type="text" class="form-control" placeholder="Year"
                   name="sYear" value="{{osc.sYear}}">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="sName">Name</label>
            <input id="sName" type="text" class="form-control" placeholder="Name" name="sName" value="{{osc.sName}}">
        </div>

        <div class="col">
            <label for="sAge">Age</label>
            <input id="sAge" type="text" class="form-control" placeholder="Age" name="sAge" value="{{osc.sAge}}">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="sMovie">Movie</label>
            <input id="sMovie" type="text" class="form-control" placeholder="Movie" name="sMovie" value="{{osc.sMovie}}">
        </div>

        <div class="col">
            <label for="sNote">Note</label>
            <input id="sNote" type="text" class="form-control" placeholder="Note"
                   name="sNote" value="{{osc.sNote}}">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Save</button>

</form>
{% endblock %}

